
<td>
 <%= link_to user.name.capitalize, user %>

</td>
  <td>
    <%= link_to user.email, user %>
  </td>
  <!--<td>-->

<!--<td><!% user.role.role_name %></td>-->

  <!--</td>-->
  <td>
    <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button button-xs button-circle button-danger') unless user == current_user %>
  </td>

