
<!-- Form Styles
===================================== -->
<!--<section id="shortcodeForm">-->
<br>
  <!--<div class="container pt65 mb40">-->
  <div class="container-fluid bg-gray pt65 pb40 bb-dashed-1">
    <div id="contact-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-7 pt20">
            <div class="section-desc">
              <h1 class="section-heading wow fadeInDown" data-wow-duration="0.5">
                Contact Us
              </h1>
              <span class="contact-info-line"></span>
              <p class="section-text wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
                Home Serviceman provide you service at your doorstep within specific time.
              </p>
            </div>
            <div class="map_marker_description text-center pr60">
              <img width="740" src="https://maps.googleapis.com/maps/api/staticmap?center=Lahore&zoom=14&scale=1&size=640x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CLahore" alt="Google Map of Pakistan">
            </div>
          </div>


          <div class="col-md-4 col-sm-5 pt70">
            <div class="contact-info">
              <h4>Contact Info</h4>
              <span class="contact-info-line"></span>
              <p>
                You can contact or visit us in our office from Monday to Friday from 8:00 - 17:00
              </p>
              <div class="media contact-media address-media">
                <div class="media-left">
                  <i class="fa fa-home"></i>
                </div>
                <div class="media-body">
                  <p>5512 Lahore</p>
                </div>
              </div>
              <div class="media contact-media email-media">
                <div class="media-left">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="media-body">
                  <a href="mailto:contact@yourdomain.com">contact@servicemen.com</a>
                </div>
              </div>
              <div class="media contact-media phone-media">
                <div class="media-left">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="media-body">
                  <p>
                    +1 800 450 6935 <br>
                    +1 800 450 6940
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

<!--</section>-->


