<% content_for :title do %>About<% end %>


<!-- Intro Area
===================================== -->
<header class="pt100 pb100 parallax-window-2" style="background:url(electrician-3.jpg) 0 0 no-repeat #111;">
  <div class="intro-body text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 pt50">
          <h1 class="brand-heading font-montserrat text-uppercase color-light" data-in-effect="fadeInDown">
            About Our Company
            <small class="color-light alpha7">More about us</small>
          </h1>
        </div>
      </div>
    </div>

  </div>
</header>


<!-- About Area
===================================== -->
<div id="about" class="pt75 pb50">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <img src="../img-other-7.jpg" alt="about us" class="img-responsive center-block">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h3>
          We are small creative agency
          <small class="heading heading-solid"></small>
        </h3>
        <p>
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <br>
          <a class="button button-sm button-pasific mt20 hover-ripple-out animated" data-animation="slideInRight" data-animation-delay="100">Start Project</a>
        </p>
      </div>

    </div>


  </div>
</div>

<!--<header class="pt100 pb100 parallax-window-2" data-parallax="scroll" data-speed="0.5" data-image-src="../img-bg-17.jpg" data-positionY="1000">-->
  <!--<div class="intro-body text-center">-->
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col-md-12 pt50">-->
          <!--<h1 class="brand-heading font-montserrat text-uppercase color-light" data-in-effect="fadeInDown">-->
            <!--About Our Company-->
            <!--<small class="color-light alpha7">More about us</small>-->
          <!--</h1>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</header>-->

<!--<div id="about" class="pt75 pb50">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<img src="img-other-7.jpg" alt="about us" class="img-responsive center-block">-->
      <!--</div>-->
      <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<h3>-->
          <!--We are small creative agency-->
          <!--<small class="heading heading-solid"></small>-->
        <!--</h3>-->
        <!--<p>-->
          <!--Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <br>-->
          <!--<a class="button button-sm button-pasific mt20 hover-ripple-out animated" data-animation="slideInRight" data-animation-delay="100">Start Project</a>-->
        <!--</p>-->
      <!--</div>-->

    <!--</div>-->


  <!--</div>-->
<!--</div>-->

