<!-- footer Area
===================================== -->
<hr>
<div id="footer" class="bg-light-transparent footer-two pt50 ">
  <div class="container-fluid bb-solid-1">
    <div class="container pb35">
      <div class="row">

        <!-- footer about start -->
        <div class="col-md-3 col-sm-12 col-xs-12">
          <h6 class="font-montserrat text-uppercase color-dark">About Us</h6>
          <p>Home Servicemen is the plateform to provide different services.
            At your door steps.</p>
        </div>
        <!-- footer about end -->

        <!-- footer menu one start -->
        <div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-4">
          <h6 class="font-montserrat text-uppercase color-dark">Menu</h6>
          <ul class="no-icon-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Service</a></li>
          </ul>
        </div>
        <!-- footer menu one end -->

        <!-- footer menu two start -->
        <div class="col-md-2 col-sm-3 col-xs-4">
          <h6 class="font-montserrat text-uppercase color-dark">Learn more</h6>
          <ul class="no-icon-list">
            <li><a href="#">Tour</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">New Features</a></li>
            <li><a href="#">Payment</a></li>
          </ul>
        </div>
        <!-- footer menu two end -->

        <!-- footer menu three start -->
        <div class="col-md-2 col-sm-3 col-xs-4">
          <h6 class="font-montserrat text-uppercase color-dark">Support</h6>
          <ul class="no-icon-list">
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Knowledgebase</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <!-- footer menu three end -->

        <!-- footer social icons start -->
        <div class="col-md-2 col-sm-3 col-xs-12">
          <h6 class="font-montserrat text-uppercase color-dark">Social Media</h6>
          <div class="social social-two">
            <a href="#"><i class="fa fa-twitter color-blue"></i></a>
            <a href="#"><i class="fa fa-facebook color-primary"></i></a>
            <a href="#"><i class="fa fa-linkedin color-blue"></i></a><br><br>
          </div>
        </div>
        <!-- footer social icons end -->

      </div><!-- row end -->
    </div><!-- container end -->
  </div><!-- container-fluid end -->

  <div class="container-fluid pt20">
    <div class="container">
      <div class="row">
        <!-- copyright start -->
        <div class="col-md-6 col-sm-6 col-xs-6 pull-left">
          <p>Copyright &copy;2016 <a href="#">Pasific Studio, LLC</a>. All rights reserved.</p>
        </div>
        <!-- copyright end -->
        <!-- footer bottom start -->
        <div class="col-md-6 col-sm-6 col-xs-6 pull-right">
          <p class="text-right">
            <a href="#" class="mr20">Privacy Policy</a>
            <a href="#" class="mr20">Term of Use</a>
            <a href="#" class="mr50">Site Map</a>
          </p>
        </div>
        <!-- footer bottom end -->
      </div><!-- row end -->
    </div><!-- container end -->
  </div><!-- container-fluid end -->
</div><!-- footer end -->
